<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
    <title>Crafsty | login</title>
</head>
<body class ="register">
    <header>
<img src="/images/logo.png" alt="Logo Crafsty">
<div class="header__menuHamb">      
<a href=""><i class="fa-solid fa-bars"></i></a>
</div>
<nav>
    <ul>
        <li><a href="">smartphone</a></li>
        <li><a href="">tablets</a></li>
        <li><a href="">computadoras</a></li>
    </ul>    
    <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/register">registro</a></li>
    </ul>
</nav>

</header>
   <main class="login__main"></main>
    </main>
</body>
</html>