<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
    <title>Crafsty | login</title>
</head>
<body class ="register">
    <header>
        <a href="/"><img src="/images/logo.png" alt="Logo Crafsty"> </a>
<div class="header__menuHamb">      
<a href=""><i class="fa-solid fa-bars"></i></a>
</div>
<nav>
    <ul>
        <li><a href="">smartphone</a></li>
        <li><a href="">tablets</a></li>
        <li><a href="">computadoras</a></li>
    </ul>    
    <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/register">registro</a></li>
    </ul>
</nav>

</header>
   <main class="login__main">
    <section class="box__card">
        <div class="box__card__titulo"> 
        <h3 >Login </h3>
        <hr>
        <form action="/profile" class="form">
        </div>
            <div class="form__box">
                <label class="form__label" for="email">Email</label>
                <input class="form__input" id="email" type="text" placeholder="correo@correo.com" name="email">
            </div>
            <div class="form__box">
                <label class="form__label" for="password">Contraseña</label>
                <input class="form__input" id="password" type="password" placeholder="Ingresa tu contraseña" name="password">
            </div>
            <div class="box__end">
            <a href="/" class="button_3">Cancelar</a>              
            <button class=" button button_1" type="submit">Enviar</button>
            </div>
            <div class="form__box">
                <p>¿No estas registrado? <a  class="link" href="/register">Registrate</a></p>
            </div>
            <div class="form__box">
<input type="checkbox" id="remember" name="remember">
<label for="remember">Recordame</label>          
  </div>
        </form>
      </section>
   </main>
    </main>
</body>
</html>