<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy | Perfil de usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c65f2f1cc8.js" crossorigin="anonymous"></script>
</head>

<body class="profile">
    <header>
        <section>
            <a href="/"><img src="/images/logo.png" alt="Logo Crafsty"> </a>
            <div class="header__menuHamb">      
                <a href=""><i class="fa-solid fa-bars"></i></a>
                </div>        </section>
        <nav>
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="register__main">
      <section class="box__card">
        <div class="box__card__titulo"> 
            <h3 >Perfil Usuario </h3>
            <hr>
            <form action="/profile" class="form">
            </div>
        <form  class="form">
            <div class="form__box">
                <label class="form__label" for="name">Nombre</label>
                <input class="form__input" id="name" type="text" value="Mariana" name="name">
            </div>
            <div class="form__box">
                <label class="form__label" for="surname">Apellido</label>
                <input class="form__input" id="surname" type="text" value="Bárcena" name="surname">
            </div>
            <div class="form__box">
                <label class="form__label" for="email">Email</label>
                <input class="form__input" id="email" type="email" readonly value="angelesmbarcena@gmail.com" name="email">
            </div>
           
            <div class="form__box">
                <p>¿Ya estas registrado? <a  class="link" href="/login">Login</a></p>
            </div>
            <div class="box__end">

                <button class=" button button_2" type="reset">Limpiar</button>
                <button class=" button button_1" type="submit">Enviar</button>
            </div>
        </form>
      </section>
    </main>
</body>

</html>