<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/82937f0358.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>
<body>
    <header>
        <nav class="header_logo">
        <img src="/img/logo.png" alt="Cancat Logo">
        <ul>         
       <li><i class="fa-solid fa-user" style="color: #183561;"></i><br> Registrate <br> Iniciar sesion </li>
        </ul>
        <ul>
      <li> <i class="fa-solid fa-cart-shopping" style="color: #183561;"></i><br> Tu compra</li>
    </ul>
    <h6>Busca tus marcas y productos..</h6>
    <ul class ="Barra_Nav">
        <li>Perros </li>
       <li>Gatos</li>
       <li>Animales Pequeños </li>
       <li>Los + Vendidos</li>
   
   
   </ul>
    </nav>
<main>
   
    <p>HOME > PERROS > RAZAS PEQUEÑAS >  PEDIGREE POUCH POLLO 100G</p>

    <h1>     PEDIGREE POUCH POLLO ADULTO </h1> 
    <nav class="Estrellas_producto"> 

    <i class="fa-solid fa-star fa-beat" style="color: #fed700;"></i>
    <i class="fa-solid fa-star fa-beat" style="color: #fed700;"></i>
    <i class="fa-solid fa-star fa-beat" style="color: #fed700;"></i>
    <i class="fa-solid fa-star fa-beat" style="color: #fed700;"></i>
    <i class="fa-regular fa-star fa-beat" style="color: #fed700;">
         ¡5 Catcan Estrellas!</i>
</nav>
<article class="ProductoIMG"> 
    <img src="/img/pedigree adulto.png" alt=""></article>
</main>
    </header>
</body>
</html>